* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 10px 20px 10px hsla(241, 100%, 89%, 0.3);
}

.container .result {
    width: 50%;
    color: hsl(0, 0%, 100%);
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
}

.container .result .total-score {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.summary {
    width: 50%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    padding: 20px;
}

.summary span {
    opacity: 50%;
}

.summary .summary-item {
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    gap: 5px;
}

.summary .header {
    margin-top: -10px;
    font-size: 18px;
}

.summary .reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
}

.summary .reaction .text {
    margin-left: -30px;
    color: hsl(0, 100%, 67%);
}

.summary .memory {
    background-color: hsla(39, 100%, 56%, 0.1);
}

.summary .memory .text {
    margin-left: -30px;
    color: hsl(39, 100%, 56%);
}

.summary .verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
}

.summary .verbal .text {
    margin-left: -40px;
    color: hsl(166, 100%, 37%);
}

.summary .visual {
    background-color: hsla(234, 85%, 45%, 0.1);
}

.summary .visual .text {
    margin-left: -40px;
    color: hsl(234, 85%, 45%);
}

.summary .button {
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    justify-content: center;
    cursor: pointer;
}

.summary .button:active {
    background-color: hsl(241, 81%, 54%);
}

.summary img {
    margin-left: 5px;
    width: 15px;
    height: auto;
}

.attribution {
    font-size: 15px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
    .container {
        width: 400px;
        height: 100vh;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 10px 20px 10px hsla(241, 100%, 89%, 0.3);
    }
}
